.title {
    text-align: center;
    margin: 20px 0;
  }
  
  .tableContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0px;
    box-sizing: border-box;
  }
  
  .table {
    width: 100%;
    max-width: 1000px;
    border-collapse: collapse;
    margin: 0;
    font-size: 1em;
    text-align: left;
  }
  
  .table th,
  .table td {
    padding: 8px 12px;
    text-align: center;
  }
  
  .table th {
    background-color: #0070f3;
    color: white;

  }
  
  .table tr {
    border-bottom: 1px solid #dddddd;
    transition: background-color 0.3s ease;
  }
  
  .table tr:hover {
    background-color: #f1f1f1;
  }
  
  @media (max-width: 768px) {
    .table th,
    .table td {
      padding: 4px 8px;
    }
  
    .table {
      font-size: 12px;
    }
  }
  
.coinImage {
    height: 20px;
    width: 20px;
}